<div class="container">
  <h2 class="mat-title">{{ isEditing ? "EDIT DEVICE" : "ADD DEVICE" }}</h2>
  <form [formGroup]="myForm" class="form-container">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" type="text" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" type="text" required />
    </mat-form-field>

    <div class="button-container" class="spacerBtn">
      <button mat-raised-button (click)="saveDialog()" color="primary">
        {{ isEditing ? "Update" : "Create" }}
      </button>
    </div>
  </form>
</div>
