<div class="form-container">
  <h2>DEVICES DETAILS</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let device">{{ device?.type }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let device">{{ device?.description }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['type', 'description']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['type', 'description']"></tr>
  </table>
  <br />
  <button
    mat-raised-button
    color="primary"
    (click)="saveDialog()"
    class="submit-button"
  >
    Close
  </button>
</div>
